<template>
  <section class="hero is-black is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container has-text-centered">
        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              <img src="src/renderer/assets/450x450.png" alt>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <DragDrop/>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </section>
</template>

<script>
import DragDrop from "@/components/Upload/DragDrop";
export default {
  name: "landing-page",
  components: {
    DragDrop
  },

  methods: {
    open(link) {
      this.$electron.shell.openExternal(link);
    }
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}
</style>
