<template>
  <div>
    <section>
      <b-field>
        <b-upload v-model="dropFiles" multiple drag-drop>
          <section class="section">
            <div class="content has-text-centered">
              <p>
                <b-icon icon="upload" size="is-large"></b-icon>
              </p>
              <p>Drop Watch Folder Here.</p>
            </div>
          </section>
        </b-upload>
      </b-field>

      <div class="tags">
        <span v-for="(file, index) in dropFiles" :key="index" class="tag is-primary">
          {{file.name}}
          <button class="delete is-small" type="button" @click="deleteDropFile(index)"></button>
        </span>
      </div>

      <div>
        <button class="button is-dark is-fullwidth" v-on:click="changePath()">Begin Uploading</button>
      </div>

      <br>

      <div>
        <button class="button is-dark is-fullwidth" v-on:click="uploadFiles">Stop Uploading</button>
      </div>
    </section>
  </div>
</template>

<script>
import { AmplifyEventBus } from "aws-amplify-vue";

import { Storage } from "aws-amplify";

export default {
  name: "DragDrop",
  data() {
    return {
      dropFiles: null,
      selectedFile: null
    };
  },
  methods: {
    deleteDropFile(index) {
      this.dropFiles.splice(index, 1);
    },
    uploadFiles(dropFiles) {
      console.log("click " + dropFiles.file);
      AmplifyEventBus.$emit("fileUpload", dropFiles);

      Storage.put("test.txt", "Hello")
        .then(result => console.log(result)) // {key: "test.txt"}
        .catch(err => console.log(err));
    },
    changePath() {
      watcher.on("change", (path, stats) => {
        if (stats) console.log(`File ${path} changed size to ${stats.size}`);
      });
    }
  }
};
</script>

<style>
</style>
