<template>
  <div id="app">
    <Navbar/>

    <router-view></router-view>
  </div>
</template>

<script>
import Navbar from "@/components/UI/Navbar";
import { components } from "aws-amplify-vue";
import { AmplifyEventBus } from "aws-amplify-vue";
import { Auth } from "aws-amplify";

export default {
  name: "flamingoupload",
  components: {
    components,
    Navbar
  },
  data() {
    return {};
  }
};
</script>

<style>
/* CSS */
</style>
